/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.nav-link {
    background: #fff;
    border: 1px solid hsla(0, 0%, 100%, 0);
    border-radius: 15px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    color: #293445;
    font-size: 12px;
    line-height: 33px;
    margin-bottom: 10px;
    padding: 4px;
}

.nav-link:hover {
    border: 1px solid #293445;
}

.active {
    border: 1px solid #293445;
}